@import url("https://smc.org.in/fonts/manjari.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Hide vertical scrollbar */
  font-family: "Manjari", sans-serif;
}

.mainBox{
  box-shadow: 0 0 2px rgba(117, 113, 113, 0.539);
  width: 40rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: #2b3d4e34;
}

/* Main Search */

.mainSearch{
  margin-top: 1.4rem;
  width: 60%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 6px;
  padding-left: 8px;
}

.mainSearch input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  padding-left: 5px;
  background: none;
  text-transform: lowercase;
}

.mainSearch  form{
  width: 100%;
}

.searchIcon{
  height: 100%;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circularProgress{
  height: 100%;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Serch Suggetion */

.searchSuggetion{
  position: absolute;
  margin-top: 4.1rem;
  width: 24rem;
  height: auto;
  background: white;
  box-shadow: 0px 0px 5px 1px #00000026;
  border-radius: 6px;
  z-index: 3;
}

.searchSuggetion li{
  height: 2rem;
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.searchSuggetion li:hover{
  background: rgba(205, 205, 205, 0.736);
  cursor: pointer;
}


@media (max-width: 680px) {
  .mainSearch{
    width: 82%;
  }
  .mainBox {
    width: 95%;
  }
  .searchSuggetion{
    width: 63.6%;
  }
}

@media (max-width:416px) {
  .mainSearch{
    width: 93%;
  }
}

@media (max-width:416px) {
  .searchSuggetion{
    width: 71.6%;
  }
}