@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam:wght@100;200;300;400;500;600;700;800;900&display=swap');

.navbarContainer{
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}